<div class="card animate" *ngIf="member">
  <div class="card-img-wapper">
    <img
      src="{{ member.photoUrl }}"
      alt="{{ member.knownAs }}"
      class="card-img-top member-img animate"
    />
    <!-- [routerLink]="[member.userName]" -->
    <ul class="list-inline text-center btn-list animate">
      <li class="list-inline-item">
        <button class="btn btn-lg btn-danger" [routerLink]="member.userName">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-lg btn-danger">
          <i class="fa fa-heart"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-lg btn-danger">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
    </ul>
  </div>

  <div class="card-body mt-2">
    <h5 class="card-title text-center">
      <i class="fa fa-user me-2"></i> {{ member.knownAs }}
    </h5>
    <p class="card-text text-center text-muted">{{ member.city }}</p>
  </div>
</div>
