.card:hover img {
  transform: scale(1.2, 1.2);
  opacity: 0.7;
}

.member-img {
  transform: scale(1, 1);
}

.card-img-wapper {
  position: relative;
  overflow: hidden;
}

.animate {
  transition: all 0.5s ease-out;
}

.btn-list {
  position: absolute;
  bottom: -30%;
  right: 0;
  left: 0;
  opacity: 0;
}

.card:hover .btn-list {
  opacity: 1;
  bottom: 0;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(64, 210, 64);
}
