<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Roles</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #roleForm="ngForm">
    <div class="form-check" *ngFor="let role of availableRoles">
      <input
        type="checkbox"
        class="form-check-input"
        value="role"
        id=""
        [checked]="selectedRoles.includes(role)"
        (change)="updateChecked(role)"
      />
      <label class="form-check-label">{{ role }}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">
    Submit
  </button>
</div>
